<h2>New component</h2>

<form action="/components" method="POST">
  <p><label for="component[body]">component description</label></p>
  <p><textarea name="component[body]" rows=5></textarea></p>
    <p><label for="component[user_id]">User ID</label></p>
  <p><input type="number" name="component[user_id]"></p>
  <p><input type="submit" value="create"></p>
</form>